@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); /*nav */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); /*main */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap'); /*frase */


* {
    scroll-behavior: smooth;
    scroll-margin-top: 35vh; /* o scroll dos nav vao ficar com 40% da altura da tela de margem */
    margin: 0;
    padding: 0;
}

:root {
    --nav-back: #B3C8CF;
    --link-color: #183B4E;
}

body {background-color: #F1EEDC;}

.content {
    margin: 0 10% 0 31%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* espaço entre os elementos filhos do nav */
    padding: 0 5% 0 15%;
    background-color: var(--nav-back);
    box-shadow: 1px/*>*/ 0 /*^*/ 5px /*blur*/ 1px /*radius*/ rgba(0, 0, 0, 0.1);
    position: fixed; /* posiçao fixa */
    height: 100%; /* define altura como 100% da tela */
    grid-column: auto;
}

nav a {
    display: flex;
    white-space: nowrap; /* nao quebrar o txt no meio */
    padding: 12px;
    text-decoration: none !important;
    background-color: var(--nav-back);
    color: var(--link-color);

    font-size: medium;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

nav a:hover {
    background-color: #A2B8C7;
    color: #F1EEDC;
}

.nav_web a:hover {
    color: #eb5802;
    transition: 0.3s;
}

main {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-family:  "Roboto Mono", monospace;
    font-weight: 400;
}

h2 {
    margin: 25% 0 20px 0;
}

h3 {
    margin: 20px 0 10px 20px;
}

.footer {
    font-family: "Martian Mono", monospace;
    text-align: center;
}

.footer.frase {
    margin: 3% 10% 3% 10%;
    font-size: small;
    color: #00000065;
}

.footer.licenca {
    margin: 3% 3% 1% 3%;
    font-size: x-small;
    color: #0000003d;
}

#projects_link {
    display: flex;
    flex-direction: column;
}

#projects_link .file {
    margin: 0 0 10px 40px;
    display: flex;
    flex-direction: column;
}

#projects_link p {
    margin: 30px 0 100px 30px;
    color: rgb(100, 100, 100);
}

.link {
    text-decoration: none;
    color: #eb58029f;
}
.link:hover {
    transition: 0.6s;
    color: #eb5802;
    text-decoration: underline ;
}

@media (max-width: 1300px) {
    .content {margin: 0 10% 0 34%;}
} 

/* @media (max-width: 1000px) {
    nav {

    }
}  */

/**
ao escrollar pela home* ir marcando onde esta na nav 

remover barra de rolagem
*/