@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

:root {
    --nav-back: #B3C8CF;
    --link-color: #183B4E;
}

body {
        background-color: #F1EEDC;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* espaço entre os elementos filhos do nav */
    padding: 0 5% 0 15%;
    background-color: var(--nav-back);
    box-shadow: 1px/*>*/ 0 /*^*/ 5px /*blur*/ 1px /*radius*/ rgba(0, 0, 0, 0.1);
    position: fixed; /* posiçao fixa */
    height: 100%; /* define altura como 100% da tela */
}

nav a {
    display: flex;
    white-space: nowrap; /* nao quebrar o txt no meio */
    padding: 12px;
    text-decoration: none !important;
    background-color: var(--nav-back);
    color: var(--link-color);

    font-size: medium;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

nav a:hover {
    background-color: #A2B8C7;
    color: #F1EEDC;
    transition: 0.3s;
} /* adicionar aos links externos outro modo de cor */

main {
    display: flex;
    flex-direction: column;
    margin-left: 31%;
}

h2 {
    margin: 25% 0 20px 0;
}
/**
h3 {
    margin: 10px 30px;
}
.projects a {
    margin: 0 5000px;
}

p {
    margin: 0 15% 3% 0;
}
*/

a {
    text-decoration: none;
    color: #eb58029f;
}
a:hover {
    transition: 1s;
    color: #eb5802;
    text-decoration: underline ;
}

/**
ao escrollar pela home* ir marcando onde esta na nav
e no final da nav recomendar o mneu bluesky
*/